h1 {
    text-align: center;
}
p {
    text-align:justify;
}
.column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  menu {
    text-align: right;
  }
  th {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-collapse: collapse;
  }
  table, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  img {
    width: 500px;
    height: 500px;
    border: 5px solid black;
    margin-bottom: 1cm;
    margin-top: 1cm;
    margin-left: 1cm;
    margin-left: 1cm;
  }